# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/hpoannotqc.iml
.idea/hpoannotqc.iml
.idea/modules.xml
.idea/workspace.xml
/.idea/compiler.xml
data/
target/
v2files/
/.idea/misc.xml
/.idea/encodings.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/data/hp.obo
/.idea/libraries/Maven__com_google_guava_guava_22_0.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
/.idea/libraries/Maven__org_antlr_antlr4_runtime_4_7.xml
/.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
/.idea/libraries/Maven__org_slf4j_slf4j_simple_1_8_0_beta1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_9_1.xml
/.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_25.xml
/.idea/libraries/Maven__com_github_phenomics_ontolib_io_0_1_1.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_0_18.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
/.idea/libraries/Maven__commons_io_commons_io_2_4.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__com_github_phenomics_ontolib_core_0_1_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_9_1.xml
/.idea/libraries/Maven__commons_cli_commons_cli_1_4.xml
/.idea/libraries/Maven__log4j_log4j_1_2_16.xml
/.idea/libraries/Maven__commons_net_commons_net_3_3.xml
hpoannotQC.log.2018-02-12
phenotype_annotation2.tab
