# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea
data/
target/
v2files/
/data/
phenotype_annotation2.tab
BLA
phenotype.hpoa
checkDate.pl
checkDate.pl~
src/scripts/Makefile~
src/scripts/curator-statistics.tab
src/scripts/data_version.txt
v2.tab
/HpoAnnotQC.iml
bla.pl~
compareSmall.pl~
dependency-reduced-pom.xml
docs/_build/
/phenotype_to_genes.tsv
/.classpath
/.factorypath
/.project
