<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="Console"
                 target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %t [%t] (%F:%L) - %m%n" />
        </Console>


        <File name="MyLog"
              append="true"
              immediateFlush="true"
              fileName="HpoAnnotQc.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %t [%t] (%F:%L) - %m%n" />
            <maxFileSize>10kb</maxFileSize>
        </File>

    </Appenders>

    <Loggers>
        <Logger name="org.monarchinitiative.hpoannotqc.Main" level="warn">
            <AppenderRef ref="Console" level="warn"/>
            <AppenderRef ref="MyLog" level="warn"/>
        </Logger>

        <Root level="trace">
            <AppenderRef ref="Console" level="warn"/>
            <AppenderRef ref="MyLog" level="warn"/>
        </Root>
    </Loggers>
</Configuration>