<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="Console"
                 target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %t [%t] (%F:%L) - %m%n" />
        </Console>


        <File name="MyLog"
              append="true"
              immediateFlush="true"
              fileName="HpoAnnotQc.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %t [%t] (%F:%L) - %m%n" />
        </File>

        <Console name="AntiLog"
                 target="SYSTEM_OUT"/>
    </Appenders>

    <Loggers>
        <Logger name="org.monarchinitiative.hpoannotqc.Main" level="trace">
            <AppenderRef ref="Console" level="trace"/>
            <AppenderRef ref="MyLog" level="trace"/>
            <!-- <AppenderRef ref="MyRollingFile" /> -->
        </Logger>

        <Logger name="org.monarchinitiative.phenol">
            <AppenderRef ref="AntiLog" level="off"/>
        </Logger>

        <Root level="trace">
            <AppenderRef ref="Console" level="trace"/>
            <AppenderRef ref="MyLog" level="trace"/>
            <!-- <AppenderRef ref="MyRollingFile" additivity="false" /> -->
        </Root>
    </Loggers>
</Configuration>